@import "../../node_modules/bootstrap/scss/bootstrap";

// Required
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/code";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/list-group";
@import "../../node_modules/bootstrap/scss/tables";
@import url('https://fonts.googleapis.com/css?family=Saira+Semi+Condensed');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');




//Zoom Container
.hotspot {
  background-image: url("Assets/Images/uffizi.jpg");
}

.hotspot path:not([data-name='Tribuna of the Uffizi']) {
  cursor: pointer;
}

.hotspot path:hover {
  opacity: 0;
  transition: all .2s ease-in-out;
  
}
 
.zoomControl {
  position: fixed;
  z-index: 990;
}

//Art Info Display
.artContainer {
  margin-left: 70vw;
  color: white;
  background-color: rgba(0, 0, 0, .5);
  position: fixed;
  display: none;
  z-index: 3;
  width: 30%;
  height: 100%;
}

.artContainer div h1 {
  text-align: center;
}

.artInfo {
  width: 90%;
  height: 100vh;
  float: right;
}

.hideArtInfo {
  cursor: pointer;
  color: white;
  height: 100vh;
  padding: 45vh 5px 5px 5px;
  display: inline-block;
  background-color: rgba(0, 0, 0, .5);
}

.hideArtInfo:hover {
  background-color: rgba(0, 0, 0, .7);
}

.outlineArt {
  stroke:#ffffff;
  stroke-width:10;
  stroke-linecap:butt;
  stroke-linejoin:miter;
  stroke-opacity:1;
  stroke-miterlimit:4;
  stroke-dasharray:10,10;
  stroke-dashoffset:0;
}

.artThumbnail {
  background-image: url("Assets/Images/uffizi.jpg");
  //background-size: 3000px;
  background-position: 2000px 1550px;
  height: 10vw; 
  width: 25vw; 
  margin: auto;
}

//Intro Container Content
.intro-content {
  color: white;
  position:absolute;
  left:15%; right:15%;
  top:30%; bottom:0;
  margin: auto;
  z-index: 999;
}
//Covers the painting container to prevent pan or use of the buttons
.intro-Cover {
  background-color: rgba(0, 0, 0, .3);
  z-index: 998;
}

.text-intro-content {
  background-color: rgba(0, 0, 0, .3);
  padding: 0% 1% 1% 1%;
  -webkit-animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-contract-bck 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;  
}

.text-intro-content h1 {
  -webkit-animation: text-shadow-pop-right 0.6s 2.25s both;
          animation: text-shadow-pop-right 0.6s 2.25s both;
}

.line-center {
	-webkit-animation: scale-up-hor-center 2s 2.25s both;
	        animation: scale-up-hor-center 2s 2.25s both;
}

.info-header button {
  -webkit-animation: text-focus-in 1s 2.25s both;
	        animation: text-focus-in 1s 2.25s both;
}

.info {
 display: none;
 -webkit-animation: text-focus-in 1s .25s both;
	        animation: text-focus-in 1s .25s both;
}

//Horizontal Line Animation
@-webkit-keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.0);
            transform: scaleX(0.0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}
@keyframes scale-up-hor-center {
  0% {
    -webkit-transform: scaleX(0.0);
            transform: scaleX(0.0);
  }
  100% {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

//Text Shadow Animation
@-webkit-keyframes text-shadow-pop-right {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    text-shadow: 1px 0 #555555, 2px 0 #555555, 3px 0 #555555, 4px 0 #555555, 5px 0 #555555, 6px 0 #555555, 7px 0 #555555, 8px 0 #555555;
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}
@keyframes text-shadow-pop-right {
  0% {
    text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    text-shadow: 1px 0 #555555, 2px 0 #555555, 3px 0 #555555, 4px 0 #555555, 5px 0 #555555, 6px 0 #555555, 7px 0 #555555, 8px 0 #555555;
    -webkit-transform: translateX(-8px);
            transform: translateX(-8px);
  }
}

//Intro content animations
@-webkit-keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(300px);
            transform: translateZ(300px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(12px);
            transform: translateZ(12px);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}

//Button Animations
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}





